.cookie-banner {
  display: none;
  position: fixed;

  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;

  min-height: 30px;
  padding: 0 20px;

  background-color: #f44;

  text-align: center;
  line-height: 30px;

  font-size: 15px;
  color: #fff;
}

.cookie-banner a:link,
.cookie-banner a:active,
.cookie-banner a:visited,
.cookie-banner a:hover {
  color: #fff;
}

.cookie-banner a.confirm:link,
.cookie-banner a.confirm:active,
.cookie-banner a.confirm:visited,
.cookie-banner a.deny:link,
.cookie-banner a.deny:active,
.cookie-banner a.deny:visited {
  display: inline-block;

  background-color: #c33;
  border-radius: 4px;

  height: 22px;
  padding: 0 5px;

  line-height: 22px;

  font-weight: bold;
  text-decoration: none;
  color: #fff;
}

.cookie-banner a.confirm:hover,
.cookie-banner a.deny:hover {
  background-color: #c44;
}
