---
---

@import 'theme';

article {
    position: relative;
    margin-bottom: 40px;
    border-left: 1px solid transparent;

    text-align: left;

    -webkit-transition: border-left-color .5s;
    transition: border-left-color .5s;

    &:hover {
        border-left-color: $fg;
        -webkit-transition: border-left-color 1s;
        transition: border-left-color 1s;
    }

    & > aside {
        float: right;
        margin: 10px 15px 5px;
    }

    & > a {
        display: block;
        padding: 15px;

        &:link, &:active, &:visited, &:hover {
            text-decoration: none;
            color: $link-color;
        }
    }
}
