---
---

@import 'theme';

article {
    position: relative;
    margin-bottom: $par-spacing;
    border-left: 1px solid transparent;

    text-align: left;

    -webkit-transition: border-left-color .5s;
    transition: border-left-color .5s;

    &:hover {
        border-left-color: $fg;
        -webkit-transition: border-left-color 1s;
        transition: border-left-color 1s;
    }

    & > aside {
        float: right;
        margin: 10px 15px 5px;

        & > a > i.ion {
            position: relative;
            top: 1px;
        }

        & > a > i.ion-ios-play-outline {
            left: 2px;
        }

        & > a > i.ion-ios-paperplane-outline,
        & > a > i.ion-ios-copy-outline,
        & > a > i.ion-ios-filing-outline {
            top: 2px;
        }
    }

    & > a {
        display: block;
        padding: 15px;

        &:link, &:active, &:visited, &:hover {
            text-decoration: none;
            color: $link-color;
        }
    }
}
