---
---

@import 'base';

body {
    position: relative;

    margin-bottom: -$footer-height;
    padding-bottom: $footer-height;

    box-sizing: border-box;
    min-height: 100vh;
}

body > nav:first-of-type {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;

    z-index: 50;

    padding: $navbar-margin;

    color: $header-color;

    font-family: $header-font;
    font-weight: $header-weight;

    font-size: $navbar-font-size;

    pointer-events: none;

    @include no-select;

    & > a {
        margin-left: $navbar-spacing;

        pointer-events: all;

        &:first-child {
            margin-left: 0;

            padding: 0 15px;

            line-height: 50px;

            width: auto;
            border-radius: 25px;
        }

        &:nth-of-type(2) > i {
            font-size: 30px;
        }
    }
}

@media (max-width: 600px) {
    body > nav:first-of-type {
        text-align: center;
    }
}

@media (max-width: 360px) {
    body > nav:first-of-type > a {
        margin-left: $navbar-spacing/2;
    }
}

.article {
    padding-top: (2*$navbar-margin + 50px - $text-header-padding);
}

@media (min-height: 600px) and (max-width: 1000px) {
    .article {
        padding-top: (2*$navbar-margin + 50px);
    }
}

@media (max-height: 599px) and (max-width: 1000px) {
    .article > header:first-of-type {
        padding-bottom: $navbar-margin;
    }
}

@media (max-width: 480px) {
    .article > header:first-of-type {
        padding-left: $navbar-margin;
        padding-right: $navbar-margin;
    }
}

.article > aside:first-of-type {
    margin: 0;
    margin-bottom: $par-spacing - 5px;
    text-align: center;

    & > a.button {
        margin: 5px;

        font-size: 1.5em;

        & > i.ion {
            display: inline-block;
            vertical-align: middle;
            margin-right: 5px;
        }

        & > span {
            font-size: (1em / 1.5);
        }
    }
}

footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}
