---
---

@import 'base';

body {
    position: relative;

    margin-bottom: -$footer-height;
    padding-bottom: $footer-height;

    box-sizing: border-box;
    min-height: 100vh;
}

body > header:first-of-type {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;

    z-index: 50;

    padding: $navbar-margin;

    color: $header-color;

    font-family: $header-font;
    font-weight: $header-weight;

    @include no-select;
    pointer-events: none;

    & > nav {
        font-size: $navbar-font-size;

        & > a {
            margin-left: $navbar-spacing;

            pointer-events: all;

            &:first-child {
                margin-left: 0;

                padding: 0 15px;

                line-height: 50px;

                width: auto;
                border-radius: 25px;

                -webkit-text-stroke: .5px;
            }

            & > i:not(.ion-ios-person-outline) {
                position: relative;
                bottom: 1px;
            }
        }
    }
}

.article {
    padding-top: 52px; // height of a navbar button including border
}

.links {
    display: block;
    margin: ($par-spacing - $navbar-spacing) 0 0;

    text-align: center;

    & > a.button {
        margin: $navbar-spacing $navbar-spacing/2 0;

        font-size: 1.5em;

        & > i.ion {
            display: inline-block;
            vertical-align: middle;
            margin-right: 7px;
        }

        & > span {
            font-size: (1em / 1.5);
        }
    }
}

footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

@media (max-width: 599px) {
    body > header:first-of-type > nav {
        text-align: center;
    }

    .article figure {
        &.float-left, &.float-right {
            margin: $par-spacing auto;
            float: none;
            width: -webkit-min-content;
            width: -moz-min-content;
            width: min-content;
        }
    }
}

@media (max-width: 360px) {
    body > header:first-of-type > nav > a {
        margin-left: $navbar-spacing/2;
    }

    .links {
        margin-top: $par-spacing - ($navbar-spacing/2);

        & > a.button {
            margin: $navbar-spacing/2 $navbar-spacing/4 0;
        }
    }
}

@media (max-height: 599px) {
    .article > header:first-of-type {
        margin-top: $par-spacing;
        margin-bottom: $par-spacing;
    }

    .article h2 {
        margin-top: $par-spacing;
    }
}

@media (max-width: 480px) {
    .article {
        & > header:first-of-type {
            padding: 0 $par-spacing;
        }

        & > section {
            padding: 0 $par-spacing;
        }
    }
}

@media (max-width: 480px), (max-height: 480px) {
    .article p, .article ul, .article ol, .article div, .article hr, .article table {
        line-height: 1.5;
    }
}

/* fix iOS bug not displaying 100vh correctly */
/* ipad */
@media only screen and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape),
       only screen and (device-width: 1024px) and (device-height: 768px) and (orientation: landscape) {
    body {
        min-height: 768px;
    }
}

@media only screen and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait),
       only screen and (device-width: 1024px) and (device-height: 768px) and (orientation: portrait) {
    body {
        min-height: 1024px;
    }
}

/* iphone5 and iphone4 landscape */
@media only screen and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2),
       only screen and (device-width: 568px) and (device-height: 320px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2),
       only screen and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio : 2),
       only screen and (device-width: 480px) and (device-height: 320px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio : 2) {
    body {
        min-height: 320px;
    }
}

/* iphone5 portrait */
@media only screen and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2),
       only screen and (device-width: 568px) and (device-height: 320px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
    body {
        min-height: 568px;
    }
}

/* iphone4 portrait */
@media only screen and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio : 2),
       only screen and (device-width: 480px) and (device-height: 320px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio : 2) {
    body {
        min-height: 480px;
    }
}
