---
---

@import 'theme';
@import 'fonts';

@import 'no-select';

@import 'button-shape';
@import 'circle-shape';

@import 'cookie-banner';

.logo {
    display: inline-block;
    position: fixed;

    left: $navbar-margin;
    top: $navbar-margin;

    z-index: 50;

    padding: 0 10px;

    width: 50px;
    height: 50px;
    line-height: 50px;

    @include circle-shape;

    background: $bg;
    color: $header-color;

    font-family: $header-font;
    font-weight: $header-weight;
    font-size: $navbar-font-size;

    @include no-select;

    &:link, &:active, &:visited {
        text-decoration: none;
    }

    &:hover {
        color: $link-color-hover;
        border-color: $link-color-hover;
    }
}
