---
layout: article
title: Projects
excerpt: "List of software projects by fbbdev"
stylesheet: item_index
---
{% assign sorted_projects = site.projects | sort: "ordinal" %}
{% for project in sorted_projects %}
<article>
    {% if project.links %}
    <aside>
        {% assign link_class = 'circle' %}
        {% for link in project.links %}
            {% include links.html %}
        {% endfor %}
    </aside>
    {% endif %}
    <a href="{{ project.url }}">
        <h2>{{ project.title }}</h2>
        {{ project.excerpt }}
    </a>
</article>
{% endfor %}

<h1>Online tools</h1>
{% for tool in site.tools %}
<article>
    <a href="{{ tool.url }}">
        <h2>{{ tool.title }}</h2>
        {{ tool.excerpt }}
    </a>
</article>
{% endfor %}
