---
layout: article
title: Projects
excerpt: "List of software projects by fbbdev"
stylesheet: item_index
---
{% assign sorted_projects = site.projects | sort: "ordinal" %}

{% for category in site.data.categories.projects %}
<section>
    <h2>{{ category.title }}</h2>
    {% for project in sorted_projects %}
        {% if project.category != category.id %}{% continue %}{% endif %}
        <article>
            {% if project.links %}
            <aside>
                {% assign link_class = 'circle' %}
                {% for link in project.links %}
                    {% include links.html %}
                {% endfor %}
            </aside>
            {% endif %}
            <a href="{{ project.url }}">
                <h3>{{ project.title }}</h3>
                {{ project.excerpt }}
            </a>
        </article>
    {% endfor %}
</section>
{% endfor %}

<section>
    <h2>Online tools</h2>
    {% for tool in site.tools %}
    <article>
        {% if tool.links %}
        <aside>
            {% assign link_class = 'circle' %}
            {% for link in tool.links %}
                {% include links.html %}
            {% endfor %}
        </aside>
        {% endif %}
        <a href="{{ tool.url }}">
            <h3>{{ tool.title }}</h3>
            {{ tool.excerpt }}
        </a>
    </article>
    {% endfor %}
</section>
