---
layout: article
title: Projects
excerpt: "List of software projects by fbbdev"
stylesheet: item_index
---
{% assign sorted_projects = site.projects | sort: "ordinal" %}

{% for category in site.data.categories.projects %}
    <h1>{{ category.title }}</h1>
    {% for project in sorted_projects %}
        {% if project.category != category.id %}{% continue %}{% endif %}
        <article>
            {% if project.links %}
            <aside>
                {% assign link_class = 'circle' %}
                {% for link in project.links %}
                    {% include links.html %}
                {% endfor %}
            </aside>
            {% endif %}
            <a href="{{ project.url }}">
                <h2>{{ project.title }}</h2>
                {{ project.excerpt }}
            </a>
        </article>
    {% endfor %}
{% endfor %}

<h1>Online tools</h1>
{% for tool in site.tools %}
<article>
    {% if tool.links %}
    <aside>
        {% assign link_class = 'circle' %}
        {% for link in tool.links %}
            {% include links.html %}
        {% endfor %}
    </aside>
    {% endif %}
    <a href="{{ tool.url }}">
        <h2>{{ tool.title }}</h2>
        {{ tool.excerpt }}
    </a>
</article>
{% endfor %}
