@mixin text-header($margin: $text-header-margin,
                   $color: $header-color,
                   $font: $header-font,
                   $weight: $header-weight,
                   $size: $text-header-font-size,
                   $stroke: $text-header-stroke) {
    margin-top: $margin;
    margin-bottom: $margin;
    padding: 0 $margin;

    color: $color;

    text-align: center;

    font-family: $font;
    font-weight: $weight;
    font-size: $size;
    -webkit-text-stroke: $stroke;
}

.title {
    @include text-header;
}

.article {
    & > header:first-of-type {
        @include text-header;
    }

    & > section {
        margin: 0 auto;
        padding: 0 $text-margin $par-spacing;

        max-width: $text-width;

        text-align: justify;
        hyphens: auto;
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: $header-font;
        font-weight: $doc-header-weight;

        margin: 0;
        margin-bottom: $par-spacing/2;
    }

    h1 {
        text-align: center;
        font-size: 2em;
        font-weight: $header-weight;
        -webkit-text-stroke: .3px;
        margin-top: 2*$par-spacing;
        margin-bottom: $par-spacing;
        padding: 10px 0;
        border: 0 solid black;
        border-top-width: 1px;
        border-bottom-width: 1px;
    }

    h2 {
        font-size: 1.6em;
        margin-bottom: $par-spacing;
    }

    h3 {
        font-size: 1.4em;
    }

    h4 {
        font-size: 1.2em;
    }

    p, ul, ol, div, hr, figure, table {
        margin: 0;
        margin-bottom: $par-spacing;

        line-height: 1.8;
    }

    ul ul, ul ol, ol ul, ol ol {
        margin-bottom: 0;
    }

    pre {
        line-height: 1;
    }

    hr {
        border: none;
        border-bottom: $table-border;
    }

    figure {
        text-align: center;

        img, video {
            display: block;
            margin: 0 auto;
            width: 100%;
            height: auto;
        }

        figcaption {
            display: block;
            margin-top: 5px;
            font-style: italic;
        }
    }

    table {
        width: 100%;
        border-spacing: 0;
        border-collapse: collapse;
        empty-cells: hide;

        th, td {
            padding: 0 5px;
            border: $table-border;
        }


        th:empty, td:empty {
            border: none;
        }

        th {
            font-weight: bold;
        }
    }
}
