@mixin text-header($padding: $text-header-padding,
                   $color: $header-color,
                   $font: $header-font,
                   $weight: $header-weight,
                   $size: $text-header-font-size) {
    padding: $padding;

    color: $color;

    text-align: center;

    font-family: $font;
    font-weight: $weight;
    font-size: $size;
}

.title {
    @include text-header;
}

.article {
    & > header:first-of-type {
        @include text-header;
    }

    & > section {
        margin: 0 auto;
        padding: 0 $text-margin $par-spacing;

        max-width: $text-width;

        text-align: justify;
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: $header-font;
        font-weight: $header-weight;

        margin: 0;
        margin-bottom: $par-spacing;
    }

    h1 {
        text-align: center;

        font-size: 2em;
    }

    p, ul {
        margin: 0;
        margin-bottom: $par-spacing;

        line-height: 1.8;
    }
}
