@import 'fonts';

@import 'theme';
@import 'background';

body {
  margin: 0;

  background: $bg;

  font-family: $body-font;
  color: $body-color;
}

a:link,
a:active,
a:visited {
  color: $link-color;
  text-decoration: $link-decoration;
}

a:hover {
  color: $link-color-hover
}

@import 'cookie-banner';
