@mixin cookie-banner-shape($location: $cookie-banner-location,
                           $height: $cookie-banner-height,
                           $padding: $cookie-banner-padding,
                           $border: $cookie-banner-border,
                           $line-height: $cookie-banner-line-height,
                           $font-family: $font,
                           $font-size: $cookie-banner-font-size,
                           $z: 100) {
    position: fixed;

    left: 0;
    right: 0;

    @if $location == top {
        top: 0;
        border-bottom: $border;
    }
    @else if $location == bottom {
        bottom: 0;
        border-top: $border;
    }

    z-index: $z;

    padding: (($height - $line-height) / 2) $padding;

    min-height: $line-height;
    line-height: $line-height;

    font-family: $font-family;
    font-size: $font-size;
}

.cookie-banner {
    @include cookie-banner-shape;

    background: $cookie-banner-bg;
    color: $cookie-banner-color;

    text-align: $cookie-banner-align;

    @include no-select;

    a {
        &:link, &:active, &:visited {
            color: $cookie-banner-color;
            text-decoration: underline;
        }

        &:hover {
            color: $cookie-banner-color-hover;
        }
    }

    a.confirm, a.deny {
        @include button-shape($cookie-banner-bg-color, $cookie-banner-color, $cookie-banner-color-hover);
        vertical-align: middle;
    }
}
