@mixin cookie-banner-shape($location: $cookie-banner-location,
                           $height: $cookie-banner-height,
                           $padding: $cookie-banner-padding,
                           $line-height: $cookie-banner-line-height,
                           $font-size: $cookie-banner-font-size,
                           $z: 100) {
    position: fixed;

    left: 0;
    right: 0;

    @if $location == top {
        top: 0;
    }
    @else if $location == bottom {
        bottom: 0;
    }

    z-index: $z;

    padding: (($height - $line-height) / 2) $padding;

    min-height: $line-height;
    line-height: $line-height;

    font-size: $font-size;
}

.cookie-banner {
    @include cookie-banner-shape;

    background-color: $cookie-banner-bg;

    text-align: $cookie-banner-align;

    color: $cookie-banner-color;

    a:link,
    a:active,
    a:visited,
    a:hover {
        color: $cookie-banner-color;
    }

    a.confirm:link,
    a.confirm:active,
    a.confirm:visited,
    a.deny:link,
    a.deny:active,
    a.deny:visited {
        display: inline-block;

        background-color: darken($cookie-banner-bg, 20%);

        border-radius: $cookie-banner-font-size;

        padding: 0 10px;

        height: $cookie-banner-font-size * 2;
        line-height: $cookie-banner-font-size * 2;

        font-weight: bold;
        text-decoration: none;
        color: $cookie-banner-color;
    }

    a.confirm:hover,
    a.deny:hover {
        background-color: darken($cookie-banner-bg, 15%);
    }
}
