@mixin icon-size($base: 25px) {
    i.ion {
        font-size: $base;
    }

    i.ion-ios-person-outline {
        font-size: $base + 5px;
    }

    i.ion-ios-copy-outline,
    i.ion-ios-filing-outline {
        font-size: $base + 2px;
    }
}
