$bg: #fff;
$fg: #000;
$font: 'PT Sans', sans-serif;
$font-size: 16px;
$font-weight: 400;

$link-color: #333;
$link-color-hover: #777;
$link-decoration: underline;

$item-link-background: #f2f2f2;

$header-font: 'Raleway', sans-serif;
$header-weight: 100;
$doc-header-weight: 300;
$header-color: $fg;

$navbar-font-size: 1.5em;
$navbar-margin: 10px;
$navbar-spacing: 10px;

$par-spacing: 25px;
$text-header-margin: 2*$par-spacing;
$text-header-font-size: 4em;
$text-header-stroke: .3px $bg;
$text-width: 600px;
$text-margin: 2*$par-spacing;

$table-border: 1px solid #ddd;

$code-bg: $bg;
$code-font: monospace;

$footer-height: 50px;
$footer-padding: 20px;
$footer-line-height: 30px;
$footer-font-size: 15px;
$footer-bg: none;
$footer-color: $link-color-hover;
$footer-color-hover: $link-color;
$footer-link-decoration: underline;

$cookie-banner-location: bottom;
$cookie-banner-height: $footer-height;
$cookie-banner-padding: $footer-padding;
$cookie-banner-line-height: $footer-line-height;
$cookie-banner-font-size: $footer-font-size;
$cookie-banner-align: center;
$cookie-banner-border: none;
$cookie-banner-bg-color: $fg;
$cookie-banner-color: $bg;
$cookie-banner-color-hover: $cookie-banner-color;
$cookie-banner-bg: $cookie-banner-bg-color;
