$bg: #fff;
$bg-top: #00d470;
$bg-bottom: #e8fa73;

$body-font: 'Lato', sans-serif;
$body-color: #000;

$header-font: 'Cantarell', sans-serif;
$header-color: #fff;

$page-header-height: 50px;
$content-header-height: 150px;

$cookie-banner-location: bottom;
$cookie-banner-height: 30px;
$cookie-banner-align: center;
$cookie-banner-bg: #f44;
$cookie-banner-color: #fff;
