<!DOCTYPE html>
<html lang="en">
<head>
    {% include meta.html %}

    {% if page.title %}
        <title>{{ page.title }} - {{ site.name }}</title>
    {% else %}
        <title>{{ site.name }}</title>
    {% endif %}

    {% if page.stylesheet %}
        <link href="/css/{{ page.stylesheet }}.css" rel="stylesheet" type="text/css">
    {% endif %}

    {% if layout.stylesheet %}
        <link href="/css/{{ layout.stylesheet }}.css" rel="stylesheet" type="text/css">
    {% endif %}

    <link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">

    {% if page.style %}
        <style>
            {{ page.style }}
        </style>
    {% endif %}

    <script src="/js/bundle.js"></script>
</head>
<body>
    {{ content }}
    {% include footer.html %}
    {% include cookie-banner.html %}
</body>
</html>
