---
layout: base
stylesheet: content
backgrounds:
  - { selector: '#page-header .background', width: 'Math.max(screen.width, screen.height)', height: 50 }
  - { selector: '#content-header .background', width: 'Math.max(screen.width, screen.height)', height: 200 }
---

<header id="page-header">
  <div class="background"></div>
  <a href="/">{{ site.name }}</a>
</header>
<header id="content-header">
  <div class="background"></div>
  {{ page.title }}
</header>
<main>
  <section>
    {{ content }}
  </section>
</main>
<footer>
  <a href="/">Home page</a><i class="dot"></i><!--
  --><a href="/mp4analyzer.js">mp4analyzer.js</a><i class="dot"></i><!--
  --><a href="/letters">Letter counter</a><i class="dot"></i><!--
  --><a href="/cookies">Cookie policy</a>
</footer>
