---
layout: base
stylesheet: page
---
<nav role="banner">
    <a class="circle" href="/" title="Home page">{{ site.name }}</a><a
       class="circle" href="/about" title="About"><i class="ion ion-ios-person-outline"></i><span>About</span></a><a
       class="circle" href="/writings" title="Writings"><i class="ion ion-ios-paper-outline"></i><span>Writings</span></a><a
       class="circle" href="/projects" title="Projects"><i class="ion ion-ios-lightbulb-outline"></i><span>Projects</span></a>
</nav>
<main {% if page.main_class or layout.main_class %}class="{{ layout.main_class }} {{ page.main_class }}"{% endif %}>
    {{ content }}
</main>
