---
layout: article
title: Writings
excerpt: "List of writings by fbbdev"
stylesheet: item_index
---
{% assign sorted_writings = site.writings | sort: "date" | reverse %}

{% for category in site.data.categories.writings %}
<section>
    <h2>{{ category.title }}</h2>
    {% for writing in sorted_writings %}
        {% if writing.category != category.id %}{% continue %}{% endif %}
        <article>
            {% if writing.links %}
            <aside>
                {% assign link_class = 'circle' %}
                {% for link in writing.links %}
                    {% include links.html %}
                {% endfor %}
            </aside>
            {% endif %}
            <a href="{{ writing.url }}">
                <h3>{{ writing.title }}</h3>
                {{ writing.excerpt }}
            </a>
        </article>
    {% endfor %}
</section>
{% endfor %}
